In [1]:
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
#import pandas_datareader.data as web
#import datetime as dt

In [2]:
style.use('ggplot')

In [4]:
'''
start = dt.datetime(2000,1,1)
end = dt.datetime(2018,6,25)
df = web.DataReader('TSLA','yahoo',start,end) 
야후 api에서 데이터프레임 형태로 데이터 받아오기. 이제 안됨.
alphavantage를 쓰든지 기존에 받았던 csv를 가져오든지.
'''
df = pd.read_csv('../../res/tsla.csv')

In [5]:
print(df.head())
#뒤에꺼부터 출력.

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [6]:
print(df.head(6))

         Date       Open       High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.000000  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.420000  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.920000  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.100000  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.000000  15.830000  16.110001  16.110001   6866900
5  2010-07-07  16.400000  16.629999  14.980000  15.800000  15.800000   6921700

In [7]:
print(df.tail(6))

            Date        Open        High         Low       Close   Adj Close  \
2006  2018-06-18  355.399994  373.730011  354.500000  370.829987  370.829987
2007  2018-06-19  365.160004  370.000000  346.250000  352.549988  352.549988
2008  2018-06-20  358.040009  364.380005  352.000000  362.220001  362.220001
2009  2018-06-21  362.000000  366.209991  346.269989  347.510010  347.510010
2010  2018-06-22  351.540009  352.250000  332.000000  333.630005  333.630005
2011  2018-06-25  330.119995  338.470001  327.500000  333.010010  333.010010

        Volume
2006  12073200
2007  12761900
2008   8383700
2009   7967100
2010  10266100
2011   6907900